# Programa Python

In [1]:
# program.py
sum = 1 + 2
print(sum)

3

# Impresión en pantalla print ( 'Hola desde la consola' )

In [4]:
print('Hola desde la consola')

Hola desde la consola

# Variables

In [6]:
    sum = 1 + 2 # 3
    product = sum * 2
    print(product)

6

# Tipos de datos

In [9]:
planetas_en_el_sistema_solar = 8 # int, plutón era considerado un planeta pero ya es muy pequeño
distancia_a_alfa_centauri = 4.367 # float, años luz
puede_despegar = True
transbordador_que_aterrizo_en_la_luna = "Apollo 11" #string

In [13]:
# Declaramos la variable
distancia_a_alfa_centauri = 4.367

# Descubrimos su tipo de dato
type(distancia_a_alfa_centauri)

float

# Operadores

In [14]:
    left_side = 10
    right_side = 5
    left_side / right_side # 2

2.0

Fechas

In [17]:
from datetime import date
date.today()

datetime.date(2022, 2, 15)

In [18]:
print(date.today())

2022-02-15

Conversión de tipos de datos

In [19]:
print("Today's date is: " + str(date.today()))

Today's date is: 2022-02-15

## Recopilar información

In [29]:
print("Bienvenido al programa de bienvenida")
name = input("Introduzca su nombre ")
print("Saludos: " + name)

Bienvenido al programa de bienvenida
Saludos: Bety

In [33]:
print("Calculadora")
first_number = input("Primer número: ")
second_number = input("Segundo número: ")
print(int(first_number) + int(second_number))

Calculadora
86

## Ejercicio

In [34]:
print("Today's date is: " + str(date.today()))

Today's date is: 2022-02-15

In [36]:
parsec = 11
lightyears = 3.26156 * parsec

In [37]:
print(str(parsec) + " parsec, is " + str(lightyears) + " lightyears")

11 parsec, is 35.877159999999996 lightyears